<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6 col-md-5">
                        <div class="about-img">
                            <img src="../assets/devfolio-master/img/monimage.png" class="img-fluid rounded b-shadow-a" alt="Salma Essid">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                        <div class="about-info">
                            <p><span class="title-s">Name: </span> <span>Salma Essid</span></p>
                            <p><span class="title-s">Profile: </span> <span>Business Computer Student</span></p>
                            <p><span class="title-s">Email: </span> <span>salma.essid25@gmail.com</span></p>
                            <p><span class="title-s">Phone: </span> <span>+216 25 349 736</span></p>
                        </div>
                    </div>
                </div>
                <div class="skill-mf">
                  <h4 class="title-s">Skills</h4>
                  <div class="skill-icons">
                      <div class="skill-item">
                          <img src="https://img.icons8.com/color/48/000000/html-5.png" alt="HTML Icon" class="skill-icon">
                          <span>HTML</span>
                      </div>
                      <div class="skill-item">
                          <img src="https://img.icons8.com/color/48/000000/css3.png" alt="CSS3 Icon" class="skill-icon">
                          <span>CSS3</span>
                      </div>
                      <div class="skill-item">
                          <img src="https://img.icons8.com/color/48/000000/javascript.png" alt="JavaScript Icon" class="skill-icon">
                          <span>JavaScript</span>
                      </div>
                      <div class="skill-item">
                          <img src="https://img.icons8.com/color/48/000000/angularjs.png" alt="Angular Icon" class="skill-icon">
                          <span>Angular</span>
                      </div>
                      <div class="skill-item">
                          <img src="https://img.icons8.com/color/48/000000/bootstrap.png" alt="Bootstrap Icon" class="skill-icon">
                          <span>Bootstrap</span>
                      </div>
                      <div class="skill-item">
                          <img src="https://img.icons8.com/color/48/000000/firebase.png" alt="Firebase Icon" class="skill-icon">
                          <span>Firebase</span>
                      </div>
                      <div class="skill-item">
                          <img src="https://img.icons8.com/color/48/000000/mysql-logo.png" alt="MySQL Icon" class="skill-icon">
                          <span>MySQL</span>
                      </div>
                      <div class="skill-item">
                          <img src="https://img.icons8.com/color/48/000000/java-coffee-cup-logo.png" alt="Java Icon" class="skill-icon">
                          <span>Java</span>
                      </div>
                      <div class="skill-item">
                          <img src="https://img.icons8.com/color/48/000000/python.png" alt="Python Icon" class="skill-icon">
                          <span>Python</span>
                      </div>
                      <div class="skill-item">
                          <img src="https://img.icons8.com/color/48/000000/artificial-intelligence.png" alt="AI Icon" class="skill-icon">
                          <span>AI</span>
                      </div>
                      <div class="skill-item">
                          <img src="https://img.icons8.com/color/48/000000/android-studio--v2.png" alt="Android Studio Icon" class="skill-icon">
                          <span>Android Studio</span>
                      </div>
                      <div class="skill-item">
                          <img src="https://img.icons8.com/color/48/000000/visual-studio-code-2019.png" alt="Visual Studio Code Icon" class="skill-icon">
                          <span>VS Code</span>
                      </div>
                      <div class="skill-item">
                          <img src="https://img.icons8.com/color/48/000000/figma.png" alt="Figma Icon" class="skill-icon">
                          <span>Figma</span>
                      </div>
                      <div class="skill-item">
                          <img src="https://upload.wikimedia.org/wikipedia/en/c/cd/Anaconda_Logo.png" alt="Anaconda Icon" class="skill-icon">
                          <span>Anaconda</span>
                      </div>
                      <div class="skill-item">
                          <img src="../assets/devfolio-master/img/NetBeans.jfif" alt="NetBeans Icon" class="skill-icon">
                          <span>NetBeans</span>
                      </div>
                  </div>
              </div>
              
            </div>
            <div class="col-md-6">
              <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                      <h2 class="title-left">About me</h2>
                  </div>
                  <p class="lead about-description">
                      I’m a <strong>beginner web developer</strong> with a passion for both front-end and back-end development.
                      I’m excited to build interactive and dynamic web applications and am continuously learning new technologies
                      to enhance my skills. I’m eager to contribute and grow in the web development field!
                  </p>
                  <div class="contact-button-container">
                      <a href="#contact" class="contact-button">Contact Me</a>
                  </div>
              </div>
          </div>
          
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  