<!-- Nav Star -->
<nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
  <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top">Portfolio</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
          aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span></span>
          <span></span>
          <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link js-scroll active" href="#home">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link js-scroll" href="#about">About</a>
              </li>
              <!-- <li class="nav-item">
                  <a class="nav-link js-scroll" href="#projects">Projets</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link js-scroll" href="#contact">Contact</a> <!-- Utilisation correcte de routerLink -->
            </li>
          </ul>
      </div>
  </div>
</nav>
<!-- Nav End -->




<!--/ Intro Skew Star /-->
<!--/ Intro Skew Star /-->
<div id="home" class="intro route bg-image" style="background-image: url('../assets/devfolio-master/img/imgbackground.jpg');">
  <div class="overlay-itro"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container text-center">
        <h1 class="intro-title mb-4">Hi, I am Salma Essid</h1>
        <p class="intro-subtitle">
          <span class="dynamic-text">Software Developer</span>
        </p>
      </div>
    </div>
  </div>
</div>




<section id="about" class="about-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                  <div class="col-sm-6 col-md-5">
                      <div class="about-img">
                          <img src="../assets/devfolio-master/img/monimage.png" class="img-fluid rounded b-shadow-a" alt="Salma Essid">
                      </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                      <div class="about-info">
                          <p><span class="title-s">Name: </span> <span>Salma Essid</span></p>
                          <p><span class="title-s">Profile: </span> <span>Business Computer Student</span></p>
                          <p><span class="title-s">Email: </span> <span>salma.essid25@gmail.com</span></p>
                          <p><span class="title-s">Phone: </span> <span>+216 25 349 736</span></p>
                      </div>
                  </div>
              </div>
              <div class="skill-mf">
                <h4 class="title-s">Skills</h4>
                <div class="skill-icons">
                    <div class="skill-item">
                        <img src="https://img.icons8.com/color/48/000000/html-5.png" alt="HTML Icon" class="skill-icon">
                        <span>HTML</span>
                    </div>
                    <div class="skill-item">
                        <img src="https://img.icons8.com/color/48/000000/css3.png" alt="CSS3 Icon" class="skill-icon">
                        <span>CSS3</span>
                    </div>
                    <div class="skill-item">
                        <img src="https://img.icons8.com/color/48/000000/javascript.png" alt="JavaScript Icon" class="skill-icon">
                        <span>JavaScript</span>
                    </div>
                    <div class="skill-item">
                        <img src="https://img.icons8.com/color/48/000000/angularjs.png" alt="Angular Icon" class="skill-icon">
                        <span>Angular</span>
                    </div>
                    <div class="skill-item">
                        <img src="https://img.icons8.com/color/48/000000/bootstrap.png" alt="Bootstrap Icon" class="skill-icon">
                        <span>Bootstrap</span>
                    </div>
                    <div class="skill-item">
                        <img src="https://img.icons8.com/color/48/000000/firebase.png" alt="Firebase Icon" class="skill-icon">
                        <span>Firebase</span>
                    </div>
                    <div class="skill-item">
                        <img src="https://img.icons8.com/color/48/000000/mysql-logo.png" alt="MySQL Icon" class="skill-icon">
                        <span>MySQL</span>
                    </div>
                    <div class="skill-item">
                        <img src="https://img.icons8.com/color/48/000000/java-coffee-cup-logo.png" alt="Java Icon" class="skill-icon">
                        <span>Java</span>
                    </div>
                    <div class="skill-item">
                        <img src="https://img.icons8.com/color/48/000000/python.png" alt="Python Icon" class="skill-icon">
                        <span>Python</span>
                    </div>
                    <div class="skill-item">
                        <img src="https://img.icons8.com/color/48/000000/artificial-intelligence.png" alt="AI Icon" class="skill-icon">
                        <span>AI</span>
                    </div>
                    <div class="skill-item">
                        <img src="https://img.icons8.com/color/48/000000/android-studio--v2.png" alt="Android Studio Icon" class="skill-icon">
                        <span>Android Studio</span>
                    </div>
                    <div class="skill-item">
                        <img src="https://img.icons8.com/color/48/000000/visual-studio-code-2019.png" alt="Visual Studio Code Icon" class="skill-icon">
                        <span>VS Code</span>
                    </div>
                    <div class="skill-item">
                        <img src="https://img.icons8.com/color/48/000000/figma.png" alt="Figma Icon" class="skill-icon">
                        <span>Figma</span>
                    </div>
                    <div class="skill-item">
                        <img src="https://upload.wikimedia.org/wikipedia/en/c/cd/Anaconda_Logo.png" alt="Anaconda Icon" class="skill-icon">
                        <span>Anaconda</span>
                    </div>
                    <div class="skill-item">
                        <img src="../assets/devfolio-master/img/NetBeans.jfif" alt="NetBeans Icon" class="skill-icon">
                        <span>NetBeans</span>
                    </div>
                </div>
            </div>
            
          </div>

          

          <div class="col-md-6">
            <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                    <h2 class="title-left">About me</h2>
                </div>
                <p class="lead about-description">
                    I’m a <strong>beginner web developer</strong> with a passion for both front-end and back-end development.
                    I’m excited to build interactive and dynamic web applications and am continuously learning new technologies
                    to enhance my skills. I’m eager to contribute and grow in the web development field!
                </p>
                <div class="contact-button-container">
                    <a href="#contact" class="contact-button">Contact Me</a>
                </div>
            </div>
        </div>
        
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <!-- 
<section id="projects" class="projects-mf route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h2 class="title-a">Projects</h2>
          <div class="line-mf"></div>
          <p class="subtitle-a">Discover my creative and innovative achievements.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="project-box">
          <div class="project-img">
            <img src="path/to/your/project-image1.jpg" alt="Projet 1" class="img-fluid">
          </div>
          <div class="project-content">
            <h5 class="p-title">Nom du Projet 1</h5>
            <p class="p-description">Description succincte de ce projet.</p>
            <a href="#" class="p-link">Voir le projet</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="project-box">
          <div class="project-img">
            <img src="path/to/your/project-image2.jpg" alt="Projet 2" class="img-fluid">
          </div>
          <div class="project-content">
            <h5 class="p-title">Nom du Projet 2</h5>
            <p class="p-description">Description succincte de ce projet.</p>
            <a href="#" class="p-link">Voir le projet</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="project-box">
          <div class="project-img">
            <img src="path/to/your/project-image3.jpg" alt="Projet 3" class="img-fluid">
          </div>
          <div class="project-content">
            <h5 class="p-title">Nom du Projet 3</h5>
            <p class="p-description">Description succincte de ce projet.</p>
            <a href="#" class="p-link">Voir le projet</a>
          </div>
        </div>
      </div>
       Ajoutez plus de projets si nécessaire -->
    <!-- </div>
  </div>
</section>  -->

<section id="contact">
  <form class="contact-form" (submit)="sendEmail($event)">
    <h2 class="form-title">Contact</h2>
      
      <label for="name">Name</label>
      <input type="text" id="name" name="from_name" required placeholder="Your Name">

      <label for="email">Email</label>
      <input type="email" id="email" name="from_email" required placeholder="Your Email">

      <label for="message">Message</label>
      <textarea id="message" name="message" required placeholder="Type your message here..."></textarea>

      <div class="btn-container">
          <button type="submit" class="btn-submit">Send</button>
      </div>
  </form>
</section>

